@use "../global/variables";

@media(max-width: 1240px) {


// GENERAL

.blogPostText, .blogPostSideBarText, .authorCommentPostDate, .firstCommentText, .secondCommentText {
        p, li {
        font-size: 1.8rem;
    }
}


// HEADER

.blogContactHeaderLogo {
    padding-top: 4rem;
}


// BLOG POST

.blogPostText {
    h3 {
        font-size: 2.9rem;
        line-height: 4.8rem;
    }
}

.blogPostSideBarText, .userCommentsContainer {
    h4 {
        font-size: 2.3rem;
        line-height: 3.8rem;
    }
}

.blogPostContent {
    min-width: 60rem;
}
}


@media(max-width: 960px) {

// GENERAL

.blogPostText, .blogPostSideBarText, .authorCommentPostDate, .firstCommentText, .secondCommentText {
    p, li {
        font-size: 1.5rem;
    }
}


// HEADER 

.blogHeader {
    nav {
        font-size: 1.8rem;
    }
}

.blogNav {
    li {
        margin-left: 5rem;
    }
}

.blogHeader {
    .blogContactHeaderTitle {
        h1 {
            font-size: 6.3rem;
        }
    }
}

.blogPost {
    flex-wrap: wrap;
}

.blogPostContent {
    margin: 0 auto;
    width: 90%;
    border: none;
}

.blueSofaBedImg {
    img {
        box-shadow: 0 5rem 0 -2rem variables.$brightYellow;
    }
}

.blogPostText {
    width: 90%;
    margin: 0 auto;
    margin-top: -7.5rem;
    margin-bottom: 7.5rem;

    h3 {
        font-size: 3.3rem;
        line-height: 5.8rem;
    }

    p {
        margin: 2.2rem 0;
    }
}

.blogPostSideBar {
    flex-direction: row;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    top: 0;
    border: 0.1rem solid variables.$black;

    img {
        display: none;
    }
}

.blogPostSideBarText {
    box-shadow: none;
}


// USER COMMENTS

.firstCommentText, .secondCommentText {
    width: 100%;
    margin-bottom: 2rem;
}

.commentNameEmail {
    input[type=text], 
    input[type=email] {
        width: 50rem;
    }

    input[type=text] {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}
}

@media(max-width: 760px) {

// HEADER

.blogNav {
    display: none;
}

.blogHamburgerMenu {
    display: block;
    margin-top: 3rem;
}


// BLOG POST

.blogPostContent {
    min-width: 20rem;
}

.blogPostText {
    h3 {
        text-align: center;
    }
}
}

@media (max-width: 560px) {

// GENERAL

.blogPostText, .blogPostSideBarText, .authorCommentPostDate, .firstCommentText, .secondCommentText {
    p, li {
        font-size: 1.3rem;
        line-height: 2.6rem;
    }
}


// HEADER 

.blogHeader {
    .blogContactHeaderTitle {
        h1 {
            font-size: 5.8rem;
        }
    }
}

// BLOG

.blogPostText {
    h3 {
        font-size: 2.9rem;
        line-height: 4.4rem;
      }
}

.blogPostSideBar {
    width: 75%;
}

.authorBlogPostDate {
    text-align: center;
}

// USER COMMENTS

.userComments {
    padding-top: 5rem;
}

.firstCommentImg, .secondCommentImg {
    margin-right: 2rem;
}

.postComment {
    form {
        input::placeholder,
        textarea::placeholder {
            font-size: 1.75rem;
        }
    }
}

.commentNameEmail {
    input[type=text], 
    input[type=email] {
        width: 100%;
        padding: 2rem;
    }
}

.commentSubmission {
    textarea {
        padding: 2rem;
    }
}

// FOOTER 

.blogFooter {
    p {
        font-size: 1.4rem;
    }
}
}