@use "../global/variables";

.userCommentsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h4 {
        margin: 4.5rem 0;
    }
}

.firstComment, .secondComment {
    display: flex;
}

.firstComment {
    margin-bottom: 5rem;
}

.firstCommentImg, .secondCommentImg {
    margin-right: 4rem;
}

.firstCommentText, .secondCommentText {
    width: 50%;
    padding-bottom: 5rem;
}

.authorCommentPostDate {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
}