.galleryContainer {
    padding: 10rem 0;
}

.galleryList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: 30%;
    }

    img {
        width: 100%;
    }
}