@use "../global/variables";

.homeHeader {
    background-image: url(../../../../images/header-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75rem;
}

.homeNav {
    display: flex;
    justify-content: flex-end;
    padding: 3.75rem 0;

        li {
            margin-right: 5.5rem;

            &:first-child {
                border-bottom: 0.4rem solid variables.$brightYellow;
            }
        }
}

.homeHeaderTitle {
    width: 50%;
    padding-top: 1rem;
    padding: 1rem 0 5rem 12.5rem;
}

.blueCouchImg {
    width: 55%;

    img {
        min-width: 75rem;
    }
}
