@use "../global/variables";

.homeHeader {
    background-image: url(../images/header-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75rem;
}

.homeHamburgerMenu {
    display: none;
}

.homeNav {
    justify-content: flex-end;

    li {
        &:first-child {
            border-bottom: 0.45rem solid variables.$brightYellow;
        }
    }
}

.homeHeaderTitle {
    width: 45%;
    padding: 5rem 0 5rem 12.5rem;
}

.blueCouchImg {
    width: 55%;

    img {
        min-width: 75rem;
    }
}

.homeHamburgerMenu {
    padding: 3rem;
    position: absolute;
    top: -2rem;
    right: -1rem;

    a {
        display: block;
        padding: 1rem 0;
    }

    label {
        display: block;
        cursor: pointer;
        background: url(../icons/hamburger-menu.svg);
        background-repeat: no-repeat;
        background-position: right center;
        padding: 3rem;
        margin: 0 3.5rem 1rem 1rem;
    }

    input#menu {
        display: none;
    }

    input:checked ~ label {
        background-image: url(../icons/close-menu.svg);
    }

    input:checked ~ .menuContent {
        max-height: 100%;
        background-color: variables.$white;
        border: 2px solid black;

        ul {
            padding: 1rem;
        }
    }
}

.menuContent {
    max-height: 0;
    overflow: hidden;
}