@media(max-width: 1240px) {

// GENERAL

.newMaterials, .externalResources, .newLocationsGroupPrograms, .searchByStyle {
    h2 {
        font-size: 2.9rem;
        line-height: 4.8rem;
    }

    p {
        font-size: 1.8rem;
    }

    .button {
        font-size: 1.8rem;
    }
}


// HEADER

    .homeHeader {
        height: 60rem;
    }

    .homeHeaderTitle {
        padding-bottom: 1rem;

        h1 {
            font-size: 5.8rem;
        }
    }

    .blueCouchImg {
        img {
            min-width: 68rem;
        }
    }


// EXTERNAL RESOURCES

.externalResources {
    ul {
        li {
            width: 42.5%;
        }
    }
}


// NEW LOCATIONS GROUP PROGRAMS

.newLocationsText, .groupProgramsText {
    margin: 5rem 0;

    p {
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

.groupProgramsImg {
    top: 2rem;
}


// SEARCH BY STYLE

.searchByStyleText {
    margin: 15rem auto;
}

}


@media (max-width: 1000px) {

// GENERAL

.newMaterials, .externalResources, .newLocationsGroupPrograms, .searchByStyle {
    h2 {
        font-size: 2.4rem;
        line-height: 3.8rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 2.4rem;
    }

    .button {
        font-size: 1.5rem;
    }
}


// HEADER

.homeHeader {
    height: 50rem;

    nav {
        font-size: 1.6rem;
    }
}

.homeNav {
    li {
        margin-left: 4.5rem;
    }
}

.homeHeaderTitle {
    h1 {
        font-size: 4.4rem;
        line-height: 4.8rem;
    }
}

.blueCouchImg {
    img {
        min-width: 54rem;
    }
}


// EXTERNAL RESOURCES

.externalResources {
    padding: 7.5rem 0;

    ul {
        li {
            margin-bottom: 2.5rem;
        }

        li:nth-of-type(2n) {
            margin-left: 3.75rem;
        }
    }
}

.icon {
    font-size: 3rem;
    padding: 1.75rem;
}

.file {
    padding: 1.75rem 2.25rem;
}


// NEW LOCATIONS GROUP PROGRAMS

.newLocationsText, .groupProgramsText {
    margin: 4rem 0;
    width: 85%;
}


// SEARCH BY STYLE

.searchByStyleText{
    margin: 10rem auto;
}


// FOOTER

.globalFooter {
    p {
        font-size: 1.6rem;
    }
}

}