@use "./variables";

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

.externalWrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

html {
    font-size: 62.5%;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: #F5F5F5;
}

section:nth-of-type(2n) {
    background-color: variables.$ice;
}

.globalNav {
    display: flex;
    padding: 3rem 0;

    li {
        margin-left: 5.5rem;
        position: relative;

        &::after {
            content: "";
            height: 0.4rem;
            width: 0;
            background-color: variables.$brightYellow;
            position: absolute;
            left: 0;
            top: 2.9rem;
            transition: 0.5s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.button {
    font-family: variables.$secondaryHeadingFont;
    font-size: 2rem;
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: variables.$everGreen; 
    padding: 1.25rem 2.75rem 0.75rem;
    align-self: flex-start;
    cursor: pointer;
}

.globalFooter {
    color: variables.$white;
    background-color: variables.$black;
    text-align: center;
    padding: 0.5rem 0;
}
