// Colours
$brightYellow: #F8FB05;
$everGreen: #065635;
$white: #F5F5F5;
$ice: #E0FDDF;
$black: #151514;

// Font Families
$primaryHeadingFont: 'Kumar One', cursive;
$secondaryHeadingFont: 'Kumar One Outline', cursive;
$bodyFont: 'Lato', sans-serif;
