@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 29px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 6.8rem;
  line-height: 6.4rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Kumar One", cursive;
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 0.21rem;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.externalWrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #F5F5F5;
}

section:nth-of-type(2n) {
  background-color: #E0FDDF;
}

.globalNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0;
}
.globalNav li {
  margin-left: 5.5rem;
  position: relative;
}
.globalNav li::after {
  content: "";
  height: 0.4rem;
  width: 0;
  background-color: #F8FB05;
  position: absolute;
  left: 0;
  top: 2.9rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.globalNav li:hover::after {
  width: 100%;
}

.button {
  font-family: "Kumar One", cursive;
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #065635;
  padding: 1.25rem 2.75rem 0.75rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
}

.globalFooter {
  color: #F5F5F5;
  background-color: #151514;
  text-align: center;
  padding: 0.5rem 0;
}

.homeHeader {
  background-image: url(../images/header-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75rem;
}

.homeNav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.homeNav li:first-child {
  border-bottom: 0.45rem solid #F8FB05;
}

.homeHeaderTitle {
  width: 45%;
  padding-top: 1rem;
  padding: 1rem 0 5rem 12.5rem;
}

.blueCouchImg {
  width: 55%;
}
.blueCouchImg img {
  min-width: 75rem;
}

.newMaterials {
  margin-top: 20rem;
  margin-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0;
}
.newMaterials h2 {
  margin-bottom: 1rem;
}
.newMaterials p {
  margin-bottom: 1.5rem;
}

.newMaterialsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.purpleCoachImg {
  margin-left: 5rem;
}
.purpleCoachImg img {
  -webkit-box-shadow: -2rem 2rem 0 0 #F8FB05;
          box-shadow: -2rem 2rem 0 0 #F8FB05;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10rem 0;
}
.galleryContainer img {
  width: 30%;
}

.externalResources {
  padding: 10rem 0;
}
.externalResources ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.externalResources ul li {
  width: 47.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}
.externalResources ul li:nth-of-type(2n) {
  margin-left: 5rem;
}

.icon {
  background-color: #F8FB05;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 50%;
  font-size: 3.5rem;
  padding: 2rem 2rem;
}

.file {
  padding: 2rem 2.5rem;
}

.externalResourcesText {
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.newLocationsGroupPrograms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newLocationsContainer, .groupProgramsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 42.5%;
}
.newLocationsContainer img, .groupProgramsContainer img {
  width: 100%;
}

.newLocationsImg {
  position: relative;
  bottom: 4.75rem;
  background-color: yellow;
}
.newLocationsImg img {
  -webkit-box-shadow: 3rem 3rem 0 -1rem #F8FB05;
          box-shadow: 3rem 3rem 0 -1rem #F8FB05;
}

.groupProgramsImg {
  position: relative;
  top: 5rem;
}
.groupProgramsImg img {
  -webkit-box-shadow: -3rem 3rem 0 -1rem #F8FB05;
          box-shadow: -3rem 3rem 0 -1rem #F8FB05;
}

.newLocationsText, .groupProgramsText {
  margin-top: 10rem;
  margin-bottom: 7.5rem;
  width: 80%;
}
.newLocationsText p, .groupProgramsText p {
  padding-top: 0.75rem;
  padding-bottom: 3rem;
}

.newLocationsText {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.searchByStyleText {
  margin: 20rem auto;
  width: 82.5%;
  text-align: center;
}
.searchByStyleText p {
  text-align: left;
  padding-bottom: 4rem;
}

.blogHeader {
  background-image: url(../images/blog-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 56.8rem;
}

.blogLogoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogHeaderLogo {
  width: 20%;
  padding: 2rem 0;
}
.blogHeaderLogo p {
  font-family: "Kumar One", cursive;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 0.21rem;
  text-transform: uppercase;
  font-weight: 300;
}

.blogNav li:nth-child(3) {
  border-bottom: 0.45rem solid #F8FB05;
}

.blogHeaderTitle {
  margin-top: 11.5rem;
}
.blogHeaderTitle h2 {
  font-weight: lighter;
}

.blogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogPostContent {
  width: 62.75%;
  border: 1rem solid #F8FB05;
  border-top: none;
  border-left: none;
  min-width: 80rem;
}

.blueSofaBedImg {
  position: relative;
  top: -16rem;
  padding-right: 1rem;
}
.blueSofaBedImg img {
  -webkit-box-shadow: 3rem 3rem 0 -1rem #F8FB05;
          box-shadow: 3rem 3rem 0 -1rem #F8FB05;
}

.blogPostText {
  width: 77.5%;
  margin-top: -10rem;
  margin-left: 16%;
}
.blogPostText h3 {
  font-family: "Kumar One", cursive;
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 0.21rem;
  text-transform: uppercase;
}
.blogPostText p {
  margin: 2.5rem 0;
}

.authorPostDate {
  letter-spacing: -0.05rem;
}
.authorPostDate span {
  font-weight: bold;
}

.blogPostSideBar {
  width: 20%;
}
.blogPostSideBar img {
  -webkit-box-shadow: -3rem 1rem 0 -1rem #F8FB05;
          box-shadow: -3rem 1rem 0 -1rem #F8FB05;
}

.blogPostSideBarText {
  background-color: #F8FB05;
}